- note1 = notes1.first # example note
- note2 = notes2.first # example note
-# Check if line want not changed since comment was left
/- if !defined?(line) || line == note.diff_line
%tr.notes_holder
  - if note1
    %td.notes_line
      %span.btn.disabled
        %i.icon-comment
        = notes1.count
    %td.notes_content
      %ul.notes{ rel: note1.discussion_id }
        = render notes1

      = link_to_reply_diff(note1)
  - else
    %td= ""
    %td= ""

  - if note2
    %td.notes_line
      %span.btn.disabled
        %i.icon-comment
        = notes2.count
    %td.notes_content
      %ul.notes{ rel: note2.discussion_id }
        = render notes2

      = link_to_reply_diff(note2)
  - else
    %td= ""
    %td= ""

