- note = discussion_notes.first
.discussion.js-toggle-container{ class: note.discussion_id }
  .discussion-header
    .discussion-actions
      = link_to "#", class: "js-toggle-button" do
        %i.icon-chevron-up
        Show/hide discussion
    = image_tag avatar_icon(note.author_email), class: "avatar s32"
    %div
      = link_to_member(@project, note.author, avatar: false)
      started a discussion on commit
      = link_to(note.noteable.short_id, project_commit_path(note.project, note.noteable), class: 'monospace')
    .last-update.hide.js-toggle-content
      - last_note = discussion_notes.last
      last updated by
      = link_to_member(@project, last_note.author, avatar: false)
      %span.discussion-last-update
        #{time_ago_with_tooltip(last_note.updated_at, 'bottom', 'discussion_updated_ago')}
  .discussion-body.js-toggle-content
    - if note.for_diff_line?
      = render "projects/notes/discussion_diff", discussion_notes: discussion_notes, note: note
    - else
      .panel.panel-default
        .notes{ rel: discussion_notes.first.discussion_id }
          = render discussion_notes
        .discussion-reply-holder
          = link_to_reply_diff(discussion_notes.first)

